---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseContainer from "../../components/BaseContainer.astro";
import "../../styles/global.css";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseContainer>
    <div class="flex justify-between items-center mt-12 mb-6">
      <h2 class="text-2xl text-amber-700">All Posts</h2>
    </div>
    <section>
      <ul class="grid gap-4">
        {
          posts.map((post) => (
            <li class="p-4 flex space-x-4 text-amber-800 hover:text-amber-700 cursor-pointer dark:text-stone-500 dark:hover:text-amber-700 rounded-md">
              <FormattedDate
                classList="text-stone-500 text-sm"
                date={post.data.pubDate}
              />
              <a href={`/blog/${post.slug}/`} transition:name={post.slug}>
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </BaseContainer>
</html>
