---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_AUTHOR } from "../consts";
import DarkModeToggle from "./DarkModeToggle.astro";
import HeaderInteractive from "../components/svelte/HeaderInteractive.svelte";
const rightNavItems = [
  {
    href: "/",
    name: "Home",
  },
  {
    href: "/blog",
    name: "Blog",
  },
];
---

<HeaderInteractive client:visible>
  <a href="/">
    <h2 title={SITE_AUTHOR} class="inline-flex items-center group">
      <span>
        {SITE_TITLE}
      </span>
      <picture>
        <source srcset="/maple.webp" type="image/webp" />
        <img
          src="/maple.png"
          width="16"
          height="16"
          class="rotate-45 pointer-events-none aspect-square"
          alt="a maple leave"
        />
      </picture>
    </h2>
  </a>
  <nav class="flex items-center justify-end space-x-2 w-full text-right">
    {
      rightNavItems.map((item) => (
        <HeaderLink href={item.href} id={item.name}>
          {item.name}
        </HeaderLink>
      ))
    }
    <!-- <HeaderLink
      transition:name={`nav-link-${"/"}`}
      transition:animate="slide"
      href="/"
    >
      Home
    </HeaderLink>
    <span> /</span>
    <HeaderLink href="/blog">Blog</HeaderLink> -->
    <DarkModeToggle />
  </nav>
</HeaderInteractive>
