---
import Icon from "astro-icon";
import ImageView from "./react/ImageView.jsx";
import Accordion from "./svelte/Accordion.svelte";
import { projects } from "../data/projects";
---

<div class="mt-8 flex flex-col gap-4">
  {
    projects.map((project, index) => {
      return (
        <Accordion client:load>
          <header slot="head" class="flex justify-between items-center p-2">
            <div class="inline-flex items-center gap-x-4">
              <h3>{project.name}</h3>
              <span class="text-sm text-neutral-300 dark:text-neutral-400">
                {project.description}
              </span>
            </div>
          </header>
          <div slot="icon">
            <Icon
              class="w-5 h-5 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
              name="ph:arrow-down-thin"
            />
          </div>
          <div slot="details" class="project-image grid grid-cols-3">
            <div>
              <ImageView
                client:load
                src={project.image}
                alt={project.name}
                index={index}
              >
                <Icon
                  name="ion:expand"
                  class:list={[
                    " w-8 absolute pointer-events-none text-white/50 drop-shadow-md opacity-0 group-hover:opacity-100 group-hover:text-white/100 transition ease-in-out duration-300",
                  ]}
                />
              </ImageView>
            </div>
            <div class="px-4 py-2 col-span-2 grid grid-rows-2 gap-y-4">
              <div class="space-y-2 flex flex-col justify-between text-sm sm:text-base">
                <p>{project.about}</p>
                <div class="text-amber-700/50 dark:text-amber-700 text-sm">
                  {project.stack.join(", ")}
                </div>
              </div>
              <div class="flex items-center gap-2">
                <a
                  href={project.github}
                  title={project.github}
                  target="_blank"
                  class="rounded-md border dark:border-gray-500 px-4 py-2 bg-amber-500/30 hover:bg-amber-500/60 transition-colors"
                >
                  Github
                </a>
                <a
                  href={project.live}
                  title={project.live}
                  target="_blank"
                  class="text-primary-500 hover:text-amber-600"
                >
                  View Live
                </a>
              </div>
            </div>
          </div>
        </Accordion>
      );
    })
  }
</div>
