---
import Icon from "astro-icon";
import ImageView from "./react/ImageView.jsx";
import Accordion from "./svelte/Accordion.svelte";
import { projects } from "../data/projects";
import ResponsiveImage from "./ResponsiveImage.astro";

export const importedImages = await Astro.glob("../assets/project/*").then((files) => {
  return files.map((file) => {
    return file.default;
  });
});
---

<div class="mt-8 flex flex-col gap-4">
  {
    projects.map((project, index) => {
      return (
        <Accordion client:load>
          <header slot="head" class="flex justify-between items-center p-2">
            <div class="inline-flex items-center gap-x-4">
              <h3>{project.name}</h3>
              <span class="text-sm text-stone-500 dark:text-stone-500">{project.description}</span>
            </div>
          </header>
          <div slot="icon">
            <Icon
              class="w-5 h-5 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
              name="ph:arrow-down-thin"
            />
          </div>
          <div slot="details" class="grid grid-cols-1 sm:grid-cols-3">
            <ImageView client:load index={index} importedImages={importedImages}>
              <img alt={project.name} src={importedImages[index].src} width={600} height={500} } />

              <div class="z-[0.5] pointer-events-none group-hover:backdrop-blur-[1px] backdrop-blur-none bg-transparent group-hover:bg-neutral-500/30 absolute inset-0 w-full h-full grid place-items-center transition ease-in-out">
                {" "}
                <Icon
                  name="ion:expand"
                  class=" w-8 absolute pointer-events-none text-white/50 drop-shadow-md opacity-0 group-hover:opacity-100 group-hover:text-white/100 transition ease-in-out duration-300"
                />{" "}
              </div>
            </ImageView>
            <div class="px-4 py-2 col-span-2 grid grid-rows-2 gap-y-4">
              <div class="space-y-2 flex flex-col justify-between text-sm sm:text-base">
                <p>{project.about}</p>
                <div class="text-amber-700/50 dark:text-amber-700 text-sm">{project.stack.join(", ")}</div>
              </div>
              <div class="flex items-center gap-2">
                <a
                  href={project.github}
                  title={project.github}
                  target="_blank"
                  class="rounded-md border dark:border-gray-500 px-4 py-2 bg-amber-500/30 hover:bg-amber-500/60 transition-colors"
                >
                  Github
                </a>
                <a
                  href={project.live}
                  title={project.live}
                  target="_blank"
                  class="text-primary-500 hover:text-amber-700"
                >
                  View Live
                </a>
              </div>
            </div>
          </div>
        </Accordion>
      );
    })
  }
</div>
