---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import BaseContainer from '../components/BaseContainer.astro';
import "../styles/global.css";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

<BaseContainer>
	<body>
			<article class="prose prose-slate lg:prose-lg dark:prose-invert prose-hr:my-2">
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}

				<slot />
				<hr/>
			</article>
		</body>
	</BaseContainer>
		
</html>
